<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head.html"></div>
<body>
    <div class="container d-flex justify-content-center align-items-center gap-3 min-vh-100">

        <div class="row py-5 gx-5 rounded-3 bg-white w-75">

            <div class="col-4 d-flex justify-content-center align-items-center">
                <img class="w-75" th:src="@{/img/logo.png}" alt="Web site logo">
            </div>

            <div class="col-8 border-start px-5">

                <h2 class="mb-3">Account activation</h2>

                <form th:action="@{/auth/activate}" method="POST" th:object="${passwordResetRequest}">

                    <input type="hidden" class="form-control mb-2" th:field="*{token}">

                    <p>Token validation was successful. Please enter a new password to access the application.</p>

                    <label class="mb-1" for="inputNewPassword">New password</label>
                    <input class="form-control mb-2" type="password" id="inputNewPassword"
                           th:field="*{newPassword}">

                    <label class="mb-1" for="inputConfirmPassword">Confirm password</label>
                    <input class="form-control mb-2" type="password" id="inputConfirmPassword"
                           th:field="*{confirmNewPassword}">
                    <div class="invalid-feedback d-block" th:if="${#fields.hasGlobalErrors()}"
                         th:text="${#fields.globalErrors().get(0)}"></div>

                    <div class="mt-4 d-flex gap-2">
                        <button class="btn btn-primary px-4" type="submit">OK</button>
                        <a th:href="@{/auth/login}" class="btn btn-link" type="button">Cancel</a>
                    </div>

                </form>

            </div>

        </div>

    </div>
</body>
</html>