<div th:fragment="nav (activeLink)" class="row my-4" xmlns:th="http://www.thymeleaf.org">
    <div class="col py-3 px-5 bg-white rounded-3">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a th:class="${'nav-link d-flex align-items-center ' + (#strings.equals(activeLink, 'announcements') ? 'active' : '')}"
                   th:href="@{/admin/announcements}">
                    <i class="bi-megaphone me-2" style="font-size: 1.5rem;"></i>
                    Announcements
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${'nav-link d-flex align-items-center ' + (#strings.equals(activeLink, 'configuration') ? 'active' : '')}"
                   th:href="@{/admin/configuration}">
                    <i class="bi-gear me-2" style="font-size: 1.5rem;"></i>
                    Configuration
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${'nav-link d-flex align-items-center ' + (#strings.equals(activeLink, 'students') ? 'active' : '')}"
                   th:href="@{/admin/students}">
                    <i class="bi-people me-2" style="font-size: 1.5rem;"></i>
                    Students
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${'nav-link d-flex align-items-center ' + (#strings.equals(activeLink, 'violations') ? 'active' : '')}"
                   th:href="@{/admin/violations}">
                    <i class="bi-exclamation-circle me-2" style="font-size: 1.5rem;"></i>
                    Violations
                </a>
            </li>
        </ul>
    </div>
</div>