<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="fragments/head.html :: head"></div>
<body>
<div th:replace="fragments/nav.html"></div>
<div class="container">
  <div th:replace="admin/nav.html :: nav ('announcements')"></div>
  <div class="row mb-5">
    <div class="col bg-white rounded-3 p-5">
      <h2>Announcements</h2>
      <hr class="my-4">
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title">Add new announcement</h5>
          <p class="card-text">Create an announcement that all users will see</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Follow</a>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
            <h5 class="card-title">All announcements</h5>
          <p class="card-text">View all announcements ever created</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Follow</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>