<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="fragments/head.html :: head"></div>
<body>
<div th:replace="fragments/nav.html"></div>
<div class="container">
    <div th:replace="admin/nav.html :: nav ('students')"></div>
    <div class="row mb-5">
        <div class="col bg-white rounded-3 p-5">
            <h2>Student registry</h2>
            <hr class="my-4">
            <div class="card my-3">
                <div class="card-body">
                    <h5 class="card-title">Check in a student</h5>
                    <p class="card-text">Fill out the form to enroll a student in the hostel</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Follow</a>
                </div>
            </div>
            <div class="card my-3">
                <div class="card-body">
                    <h5 class="card-title">List of residents</h5>
                    <p class="card-text">Follow the link to view the list of students living in the hostel</p>
                </div>
                <div class="card-footer">
                    <a th:href="@{/admin/students/table}" class="btn btn-primary">Follow</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>